 /*** Globals & Resets ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #123d7e;
    background: linear-gradient(160deg, #4d9ee0, 30%, #06295f) fixed;
    font-family: 'Roboto', sans-serif;
}


/*** Header & Input Form ***/
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    min-height: 25vh;
}

/*** Input Form ***/
form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-flow: wrap;
    min-height: 25vh;
}

.add-container {
    display: flex;
    align-items: stretch;
    flex: 2 auto 1;
    border-radius: 0.5em;
    overflow: hidden;
}

form input[type=text],
form button {
    padding: 0.5em;
    border: none;
}

form input[type=text] {
    background-color: white;
    font-size: 1.2rem;
    width: 15em;
}

form button {
    cursor: pointer;
    transition: 0.3s;
}

#add-button {
    font-size: 1.5rem;
    background-color: rgb(166, 247, 173);
}

#add-button:hover {
    background-color: rgb(66, 214, 79);
}

#clear-button {
    background-color: rgb(252, 176, 140);
    border-radius: 0.5em;
    font-size: 1.2rem;
}

#clear-button:hover {
    background-color: rgb(240, 97, 78);
}


/*** Task Lists ***/
.task-container h3 {
    color: white;
}

.list {
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: all 0.5s ease;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.complete-btn,
.delete-btn {
    border: none;
    cursor:pointer;
    padding: 0.5em;
    transition: ease 0.3s;
}

.complete-btn {
    background: rgb(166, 247, 173);
}

.complete-btn:hover {
    background: rgb(66, 214, 79);
}

.delete-btn {
    background: rgb(252, 176, 140);
}

.delete-btn:hover {
    background: rgb(240, 97, 78);
}
